<a href="https://colab.research.google.com/github/brunaguedes92/curso_ciencia_dados2021/blob/master/TrabalhoFinal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Trabalho Final - Ciência de Dados - Enap / 2021

### Apresentação do Dataset

In [ ]:
IMDb é o site de filmes mais popular e combina a descrição do enredo do filme, avaliações e análises de críticos e usuários, datas de lançamento e muitos outros aspectos.

O conjunto de dados de filmes(movies) inclui 85.855 filmes com atributos como descrição do filme, avaliação média, número de votos, gênero, etc.

O conjunto de dados de classificações(ratings) inclui 85.855 detalhes de classificação do ponto de vista demográfico.

#### Link para Download do Dataset

In [ ]:
https://www.kaggle.com/stefanoleone992/imdb-extensive-dataset

### Motivação Pessoal

In [ ]:
Descobrir filmes que eu possa gostar, baseado nas investigações de avaliações e características, e ter momentos de lazer agradável em casa, sobretudo nesses tempos de pandemia.

### Investigação

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt # Biblioteca para plotar gráficos
import seaborn as sns # Biblioteca para plotar gráficos baseada no matplotlib

In [3]:
df_movies = pd.read_csv('https://raw.githubusercontent.com/brunaguedes92/curso_ciencia_dados2021/master/data/originais/imdb/IMDb_movies.csv', encoding='UTF-8')
df_ratings = pd.read_csv('https://raw.githubusercontent.com/brunaguedes92/curso_ciencia_dados2021/master/data/originais/imdb/IMDb_ratings.csv', encoding='UTF-8')
df_movies_ratings = pd.merge(df_movies, df_ratings, on=['imdb_title_id'])
df_ratings.head()
# df_movies_ratings.corr()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  imdb_title_id  ...  non_us_voters_votes
0     tt0000009  ...                 70.0
1     tt0000574  ...                331.0
2     tt0001892  ...                123.0
3     tt0002101  ...                105.0
4     tt0002130  ...               1166.0

[5 rows x 49 columns]

### Conclusões e Achados