<a href="https://colab.research.google.com/github/brunaguedes92/curso_ciencia_dados2021/blob/master/TrabalhoFinal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Trabalho Final - Ciência de Dados - Enap / 2021

### Apresentação do Dataset

In [ ]:
IMDb é o site de filmes mais popular e combina a descrição do enredo do filme, avaliações e análises de críticos e usuários, datas de lançamento e muitos outros aspectos.

O conjunto de dados de filmes(movies) inclui 85.855 filmes com atributos como descrição do filme, avaliação média, número de votos, gênero, etc.

O conjunto de dados de classificações(ratings) inclui 85.855 detalhes de classificação do ponto de vista demográfico.

#### Link para Download do Dataset

In [ ]:
https://www.kaggle.com/stefanoleone992/imdb-extensive-dataset

### Motivação Pessoal

In [ ]:
Descobrir filmes que eu possa gostar, baseado nas investigações de avaliações e características, e ter momentos de lazer em casa no isolamento social.

### Investigação

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt # Biblioteca para plotar gráficos
import seaborn as sns # Biblioteca para plotar gráficos baseada no matplotlib

Dados de filmes

In [25]:

df_movies = pd.read_csv('https://raw.githubusercontent.com/brunaguedes92/curso_ciencia_dados2021/master/data/originais/imdb/IMDb_movies.csv', encoding='UTF-8')
df_movies.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  imdb_title_id  ... reviews_from_critics
0     tt0000009  ...                  2.0
1     tt0000574  ...                  7.0
2     tt0001892  ...                  2.0
3     tt0002101  ...                  3.0
4     tt0002130  ...                 14.0

[5 rows x 22 columns]

Dados de Avaliação

In [5]:
df_ratings = pd.read_csv('https://raw.githubusercontent.com/brunaguedes92/curso_ciencia_dados2021/master/data/originais/imdb/IMDb_ratings.csv', encoding='UTF-8')
df_ratings.head()

  imdb_title_id  ...  non_us_voters_votes
0     tt0000009  ...                 70.0
1     tt0000574  ...                331.0
2     tt0001892  ...                123.0
3     tt0002101  ...                105.0
4     tt0002130  ...               1166.0

[5 rows x 49 columns]

Merge das duas bases

In [ ]:
df_movies_ratings = pd.merge(df_movies, df_ratings, on=['imdb_title_id'])

Investigação de Gênero

In [18]:
 def explode_and_merge(df, col, merge_on='id', split_on=";", topn=None):
    """Transforma um atributo multivalorado em várias linhas de conteúdo atômico,
       uma linha pra cada um dos atributos separados por ponto e vírgula
    """
    # Cria um novo dataframe
    df_exp = df[[col, merge_on]].assign(**{col: df[col].str.split(split_on)}).explode(col)
    df_merged = df_exp.merge(right=df, on=merge_on, how='left', suffixes=["", "_y"])
    if topn:
        sel_topn = df_merged[col].isin(df_merged[col].value_counts().head(topn).index)
        df_merged = df_merged[sel_topn]
    return df_merged

In [29]:
df = explode_and_merge(df_movies, 'genre', 'imdb_title_id', ',')
df

            genre imdb_title_id  ... reviews_from_users reviews_from_critics
0         Romance     tt0000009  ...                1.0                  2.0
1       Biography     tt0000574  ...                7.0                  7.0
2           Crime     tt0000574  ...                7.0                  7.0
3           Drama     tt0000574  ...                7.0                  7.0
4           Drama     tt0001892  ...                5.0                  2.0
...           ...           ...  ...                ...                  ...
175862      Drama     tt9911196  ...                6.0                  4.0
175863      Drama     tt9911774  ...                NaN                  NaN
175864      Drama     tt9914286  ...                NaN                  NaN
175865     Family     tt9914286  ...                NaN                  NaN
175866      Drama     tt9914942  ...                NaN                  2.0

[175867 rows x 23 columns]

Correlação

In [ ]:
# df_movies_ratings.corr()

### Conclusões e Achados

In [ ]:
#qual genero homens 30 anos gostam?

In [ ]:
#qual genero mulheres 30 anos gostam mais?

In [ ]:
#nota media de todos os filmes para homens e para mulheres (quem é mais generoso para dar nota)

In [ ]:
#top 10 filmes que mulheres e homens 30 anos gostam mais?

In [ ]:
#qual ano tem melhor avaliação nos filmes?

In [ ]:
#qual país tem melhor avaliação?

In [ ]:
#orçamento e nota têm correlação?